$c-orange: #fc635e;

.btn-main {
    border: 1px solid $c-orange;
    color: $c-orange;


    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
    &:hover {
        color: #fff;
        background-color:$c-orange;
    }
}