@import "base/_index.scss";
@import "layout/_index.scss";
@import "modules/_index.scss";
@import "state/_index.scss";
//Susy global-box-sizing settings
@include global-box-sizing(border-box);

$primary-color: #fff;

html {
  height: 100%;
}
body {
    color: $primary-color;
    background-color: #262626;
    font-size: 13px;
    font-family: 'Raleway';
    line-height: 25px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden !important;
}
.global-wrap {
    min-height: 100%;
    position: relative;
}
.container{
    @include container;
    padding: 0 15px 0 15px;
}
//Just for debug
.r-container {
    @include at(xs){
        background-color: red;
    }
    @include at(sm){
        background-color: orange;
    }
    @include at(md){
        background-color: yellow;
    }
    @include at(lg){
        background-color: green;
    }
    @include at(xl){
        background-color: blue;
    }
}
//-------------------
.button {
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: 2px solid #0eaede;
    &:hover {
       background: #0eaede;
       color: #fff;
    }
}
//helper
%r-padding{
    @include at(xs){
        padding: 2px 2px 2px 2px;
    }
    @include at(sm){
        padding: 5px 5px 5px 5px;
    }
    @include from(md){
        padding: 20px 20px 20px 20px;
    }
}

.project-list {
    background: #f5f5f5;
    color : #333;
    border: 1px solid #ededed;
    border-radius: 4px;
    @extend %r-padding;
    &_item {
        @include row();
        @extend %r-padding;
    }
    &_details {
        @include at(xs){
            @include span(12);
        }
        @include from(md){
            @include span(6);
        }
    }
    &_info {
        word-wrap:break-word;
        padding : 10px 20px 10px 20px;
        @include at(xs){
            @include span(12);
        }
        @include from(md){
            @include span(6);
        }
    }
    &_thumbnail{
        a {
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
            display: block;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease 0s;
            text-decoration: none;
        }
    }
    &_date{
        color: #727272;
    }
    &_desc{
        color: #666;
    }
    &_title{
        font-family: Ubuntu, Arial, Helvetica, sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: #333333;
        text-align: center;
        padding : 10px 0 30px 0;
        a {
            text-decoration : none;
            color: #000;
            &:hover {
                text-decoration : underline;
            }
        }
    }

    &_btn {
        @include at(xs){
            text-align: center;
        }
        padding : 10px 0 10px 0;
    }
}

.term_description {
    @extend .project-list;
    margin: 0 0 20px 0;
    text-align: center;
    span {
        font-size: 1em;
        font-style: italic;
        font-weight: normal;
    }
    h2 {
        margin : 0;
        font-size: 1.5em ;
        line-height: 1.5em ;
        text-transform: uppercase;
        font-family: 'Montserrat';
        color: #30292b;
        letter-spacing: 5px;
        font-weight: 400;
    }
}

.project-list_tags {
    color: #727272 ;
    ul {
        list-style-type: none;
        padding : 0;
    }
    li {
       display: inline-block;
       margin: 10px 0 10px 0;
    }
    a {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 5px;
        border: 1px solid #919191;
        border-radius: 5px;
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 10px;
        line-height: 13px;
        color: #919191;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            border-color: #96588a;
            color: #96588a;
        }
    }
}
.divider {
    @include from(xs){
        @include span(12);
    }
    hr {
        background: #e6e6e6;
        border: 0;
        clear: both;
        width: 100%;
        height: 1px;
        padding: 0;
        margin: 40px auto;
        position: relative;
    }
}
//Post thumbnail
.image-bg{
    display: block;
    height: 430px;
    position: relative;
    width: 100%;
    &:hover .image-shop-scroll {
        background-position: center 100% !important;
    }
    & .image-shop-scroll {
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 430px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0px;
        transition: all 6s ease-out 0s;
        width: 100%;
    }
}